.recipe-card-link {
  text-decoration: none;
  color: inherit;
}

.recipe-card-item {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%; /* Гарантируем одинаковую высоту */
  display: flex;
  flex-direction: column;
  position: relative;
}

.recipe-card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.recipe-card-image {
  width: 100%;
  height: 180px; /* Фиксированная высота для изображений */
  object-fit: cover;
}

.recipe-card-info {
  padding: 1.2rem;
  flex-grow: 1; /* Чтобы информация занимала все доступное пространство */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.recipe-card-title {
  font-family: "Pacifico", cursive;
  font-size: 1.6rem;
  color: #e91e63; /* Темный розовый для заголовков карточек */
  margin-top: 0;
  margin-bottom: 0.8rem;
  line-height: 1.2;
}

.recipe-card-description {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

.recipe-card-meta {
  position: absolute;
  bottom: 1.2rem; /* Отступ от низа */
  left: 1.2rem;
  right: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.9rem;
  color: #777;
}

.quantity-ingredient {
  background-color: #fcf4f4; /* Очень мягкий розовый */
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  border: 1px solid #f0b7b7;
}

.cooking-time {
  background-color: #fcf4f4; /* Очень мягкий розовый */
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  border: 1px solid #f0b7b7;
}
